In [2]:
#Declare and import libraries
import pandas as pd
import numpy as np
#Read data from local JSON into initial dataframe HoPdf
HoPdf = pd.read_json('purchase_data.json',encoding='UTF-8')
HoPdf.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
#Using value_counts on the SN series, count the total number of players (unique SN's) and store it in a variable
total_players_series = HoPdf['SN'].value_counts()
total_players_series
total_players_int = len(total_players_series)
total_players_int

573

In [4]:
#Use groupby on primary DF then count to identify unique items in a series
unique_weapons_groupbydf = HoPdf.groupby(['Item Name'])
unique_weapon_series = unique_weapons_groupbydf['Price'].count()
print(unique_weapon_series)
unique_weapon_int = len(unique_weapon_series)
print("The number of unique items purchased was: " +str(unique_weapon_int))

Item Name
Abyssal Shard                                3
Aetherius, Boon of the Blessed               4
Agatha                                       5
Alpha                                        7
Alpha, Oath of Zeal                          7
Alpha, Reach of Ending Hope                  6
Amnesia                                      6
Apocalyptic Battlescythe                     4
Arcane Gem                                  11
Avenger                                      6
Azurewrath                                   5
Betrayal, Whisper of Grieving Widows        11
Betrayer                                     3
Blade of the Grave                           7
Blazefury, Protector of Delusions            2
Blazeguard, Reach of Eternity                6
Blindscythe                                  5
Blood Infused Guardian                       5
Blood-Forged Skeletal Spine                  2
Bloodlord's Fetish                           1
Bone Crushing Silver Skewer                  3
Bonecarvin Battle Axe                        8
Brimstone                                    7
Brutality Ivory Warmace                      4
Celeste                                      6
Celeste, Incarnation of the Corrupted        4
Chaos, Ender of the End                      3
Conqueror Adamantite Mace                    8
Crucifer                                     8
Crying Steel Sickle                          8
                                            ..
Thorn, Conqueror of the Corrupted            2
Thorn, Satchel of Dark Souls                 6
Thunderfury Scimitar                         3
Toothpick                                    5
Torchlight, Bond of Storms                   7
Tranquility, Razor of Black Magic            2
Trickster                                    9
Twilight's Carver                            5
Undead Crusader                              4
Unending Tyranny                             3
Unholy Wand                                  4
Vengeance Cleaver                            3
Venom Claymore                               6
Verdict                                      1
Victor Iron Spikes                           7
Vindictive Glass Edge                        2
War-Forged Gold Deflector                    3
Warmonger, Gift of Suffering's End           6
Warped Diamond Crusader                      3
Warped Fetish                                2
Warped Iron Scimitar                         2
Whistling Mithril Warblade                   4
Winter's Bite                                2
Winterthorn, Defender of Shifting Worlds     4
Woeful Adamantite Claymore                   9
Wolf                                         5
Wolf, Promise of the Moonwalker              7
Worldbreaker                                 2
Yearning Crusher                             2
Yearning Mageblade                           4
Name: Price, Length: 179, dtype: int64
The number of unique items purchased was: 179

In [5]:
#Using the mean method on the Price series, store this value in a variable
mean_item_price = HoPdf['Price'].mean()
mean_item_price = round(mean_item_price,2)
print("The average item price is: $"+str(mean_item_price))

The average item price is: $2.93

In [6]:
#Because the JSON is a record of in-game transactions over some period, the number of rows 
#in any category is the number of total transactions
total_purchases = HoPdf['Price'].count()
total_purchases

780

In [7]:
#Total revenue can be used by extracting the Price series from the HoPdf then use the sum method
price_series = HoPdf['Price']
price_series.sum()

2286.33

In [15]:
#Create a new data frame from the original dataframe with just screennames and genders
unique_sn_gender = HoPdf[['SN','Gender']]
#Drop duplicated SN values, but keep the first instance
unique_sn_gender = unique_sn_gender.drop_duplicates(subset=['SN'],keep='first')
unique_sn_gender['Gender'].value_counts()

Male                     465
Female                   100
Other / Non-Disclosed      8
Name: Gender, dtype: int64

In [70]:
#Use the total_players_int to convert counts to a rounded percentage and rename the column to show it is a percentage value
percent_gender = pd.DataFrame(round((unique_sn_gender['Gender'].value_counts() / total_players_int)*100))
percent_gender = percent_gender.rename(columns={'Gender':'Gender (%)'})
percent_gender.head()

                       Gender (%)
Male                         81.0
Female                       17.0
Other / Non-Disclosed         1.0

In [99]:
#Create a new data frame using groupby on Gender and count price
purchase_count_gender = HoPdf.groupby(['Gender'])['Price'].count()
purchase_count_gender = pd.DataFrame(purchase_count_gender)
purchase_count_gender = purchase_count_gender.join(round(HoPdf.groupby(['Gender'])['Price'].mean(),2),rsuffix='mean')
purchase_count_gender = purchase_count_gender.join(round(HoPdf.groupby(['Gender'])['Price'].sum(),2),rsuffix='sum')
purchase_count_gender = purchase_count_gender.rename(columns={'Price':'Count of Purchases by Gender','Pricemean':'Mean Price($)','Pricesum':'Total Revenue($)'})
purchase_count_gender

,Count of Purchases by Gender,Mean Price($),Total Revenue($)
Gender,,,
Female,136,2.82,382.91
Male,633,2.95,1867.68
Other / Non-Disclosed,11,3.25,35.74